
.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2342;
    height: 100px;
    transition: 1s;
}

.page-header-fixed{
    background: #333;
    height: 80px;
    box-shadow: 0 2px 4px rgba(black, 0.3);

}

.page-header .container {
    height:100%;

}

.page-logo {

}

.page-logo img {
    max-width: 125px;
    height: auto;
}

.page-nav {
}

.page-nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-nav-list li {
}

.page-nav-list a {
    font-size: 15px;
    display: block;
    font-weight: bold;
    color: rgba(white, 0.4);
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 20px;
    transition: 0.5s;
    position: relative;
}

.page-nav-list a::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background: $color-main;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: 0.5s;
}

.page-nav-list a:hover {
    color: $color-main;
    &::after {
        transform: scaleX(1)
    }
}